html {
    font-size: 16px;

}

body{
    background-color: #211717;
    color: #DFDDC7;
}



nav a:hover {
    color: #F58B54;
    text-decoration: none;
    text-shadow: #ffffff 5px 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #DFDDC7;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Permanent Marker', cursive, sans-serif;
    
}

nav a {
    width: 200px;
    text-decoration: none;
    color: #A34A28;
    font-size: 2rem;
}

header img {
    height: 100px;
    width: auto;
    margin: 10px;
}

.banner {
    opacity: 0.8;
    background-image: url("../resources/images/texas-ribs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#bannerText {
    backdrop-filter: blur(8px);
    min-height: 500px;
    width: 100%;
    z-index: 10;
    color:#DFDDC7;
    font-family: 'Permanent Marker', cursive, sans-serif;
    font-size: 2rem;
    width: 100%;
    padding: 50px;
    color: #DFDDC7; 
}

#bannerText h2 {
    background-color: #000000;
    color: #DFDDC7;
    font-size: 4rem;
    width: 50%;
    opacity: 0.6;
    border-radius: 10px 90px 10px 80px;
    text-align: justify;
    padding: 50px;
}

#bannerText p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    opacity: 0.6;
    font-size: 2rem;
}

.homeMenu {
    min-width: 400px;
    min-height: 150px;
    border: solid 2px white;
    background-color: #DFDDC7;
    color: #211717;
    display: none;
}
  